footer {
    background: var(--black);
    padding: 70px 0;
}

footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

footer h3 {
    color: var(--orange);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    margin-bottom: 8px;

}

footer ul li a {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    padding-left: 25px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

footer ul li a:hover {
    text-decoration: underline;
}

.email_contact {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    line-height: 200%;
    padding-left: 25px;
}

.input_contact {
    width: 521px;
    height: 39px;
    border-radius: 8px;
    background: #FFF;
    margin-left: 25px;
    /* margin-top: 9px; */
    padding-left: 27px;
    position: relative;
}

.social_container {
    display: flex;
    gap: 9px;
    margin-top: 9px;

    margin-bottom: 9px;
}

.wrapper.footer {
    color: #FFF;
    font-family: Poppins;
    padding-top: 32px;
}

form {
    position: relative;
}

button {
    position: absolute;
    right: 6px;

    top: 50%;
    transform: translateY(-50%);
    width: 135px;
    height: 30px;
    /* flex-shrink: 0; */
    border-radius: 8px;
    background: var(--dark-blue);

    color: #FFF;
    font-family: 'Poppins', sans-serif;
}